body
{
   margin: 0;
   padding: 0;
   background-color: #B9CDDA;
   font-family: sans-serif; 
}

.sidebar
{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place Pageent 60px from the top */
    transition: 0.1s; /* 0.5 second transition effect to slide in the sidebar */
}
  
  /* The sidebar links */
.sidebar a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidebar a:hover 
{
    color: #f1f1f1;
}
  
  /* Position and style the close button (top right corner) */
.sidebar .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* The button used to open the sidebar */
.openbtn
{
    position: relative;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    top: 0;
    padding-top: 5%;
    padding: 15px;
    padding-bottom: 100%;
    border: none;
    transition: 0.5s;
}
  
.openbtn:hover
{
    background-color: #444;
}
  
  /* Style page Pageent - use this if you want to push the page Pageent to the right when you open the side navigation */
#main 
{
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) 
{
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.Page-Site
{
    width: 100%;
    height: 100%;
    background-color: #B9CDDA;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Page-Home
{
    width: 100%;
    height: 100%;
    background-color: #B9CDDA;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Page-Schedule
{
    width: 100%;
    height: 100%;
    background-color: #B9CDDA;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Page-To
{
    width: 100%;
    height: 100%;
    background-color: #B9CDDA;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Page-Quote
{
    width: 100%;
    height: 100%;
    background-color: #B9CDDA;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Page-Account
{
    width: 100%;
    height: 100%;
    background-color: #B9CDDA;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.SKL
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Login
{
    top: 0;
    padding-top: 10%;
    margin-top: 500px;
    margin-left: 45%;
    position: relative;
}

.Login a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
}

.Login a:hover 
{
    color: #f1f1f1;
}
  
.form-box
{
    background: #fff;
    width: 380px;
    height: 480px;
    position: relative;
    top: 200px;
    left: 40%;
    box-shadow: 0 0 50px 0 rgb(0, 0, 0,5);
    overflow: hidden;
}

.form-box a
{
    top: 0;
    left: 43%;
    position: relative;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 0 #ff61241f;
    border-radius: 30px;
}

.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn
{
    top: 0;
    left: 0;
    position: absolute  ;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login
{
    left: 50px;
}

#Register
{
    left: 450px;
}